In [1]:
#python basic assignment 1

 1. Identifying values and expression
   values : 'hello' , '-87.8' , 6 
   expression : * , - , / ,+

# 2. difference btw string and variable
   
   # string : string is used to hold sequence of character. string can be also defined as a array of characters.
   #          whenever we introduce string we have to enclose them in single or double quotes.
   #          string is basically a value which we store under the variable
   
   # variable : Variables are a type a case or a bad under which we store variable.
   #             under the variables, we can store either numbers or string.
   #             Basically variable is a name which we can refer to any string
   
   # for example : my_info = " My name is Deepika "
   #               here 'my_info' is a variable name and the information stored under it is a string.

 3.  decribing three datatypes

 1- Int : integer is a kind of numberic datatype which can hold any integer value.
             example : age = 5 ; here age is a kind of int datatype
 2- Float : float is another kind of datatype which can hold only decimal values
             example : temp = 42.2 C ; here temp is a kind of float datatype
 3 - List : List is a kind of sequence datatype which can hold a collection of many values irrespective of their data types.
            like in a variable we can only store single value, in that case 'list' becomes very useful to store more than one data.
            It is like putting many values in a single variable. each value have their own index so that we can refer to them
            example: l = ['mini' , 5 ,6.7,'tini']

 4. what is an expression made up of ? what all do expression do ?
    
    Expression is a kind of equation which is made by using various operators like arithmetic operator(+,-,*,/) ,logical operators (&& , || ),
    assignment operator (=) , comparison operator (>,<,==) and using various varibale to perform some operation.
    
    Expression is used to evaluate something and find the result by making particular equation. they are evaluated according to the precedence of the     opeartors.

5.  difference btw the expression and the statement

    statement : here spam = 10 is just a assignment of value of 10 to the variable spam. It is stating that the variable spam contains the vaue 10
    that is it. it is not performing any operation. so the statement is just the declaration that this varibale contains this particular value
    
    expression : whereas expression performs some operating using various kinds of operator. after the execution of it, it gves us some result.

6. the value of bacon will remain as 22 because bacon is just a variable and there is no sense of adding 1 to it until we are 
   storing bacon +1 in another variabel.

7. 'spam'+'spamspam' will become 'spamspamspam'
   'spam' * 3 will become 'spamspamspam'

8.  'Egg' is valid variable name because it is taring with a alphabetical character
     while '100' is a numeric value and we cannot keep the name of the variable which is starting from the numeric value that is why it is invalid.

9.   the value passed under int() function will return integer value.
      the value passed under float() function will return floating value.
       the value passed under str() function will return string value.

10. ('I have eaten' + 99 + 'buros') 
    This will create error because 99 is a integer number and we cannot add a integer to a string.
    to correct this, we can make 99 a string by enclosing it under a single quote and then the all three strings will get concatinated.
    
    'I have eaten' + '99' + 'buros'